.img-cover {
    object-fit: cover;
}

.img-header {
    background-image: url("images/ecommerce_header.jpg");
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#cursor {
    display: inline;
    animation: blink 0.5s step-end infinite;
}

.custom-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-transform: uppercase;
    color: grey;
}

.custom-menu-item {
    padding: 0 .5em .25em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.custom-menu-item:hover {
    color: #fff;
}

.custom-menu-item:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0;
    /* 3px = the thickness */
    background: #0d6efd;
    /* the color */
    scale: 0 1;
    transition: .3s, translate 0s .3s;
}

.custom-menu:hover .custom-menu-item:before {
    scale: 1;
}

.custom-menu-item:hover:before {
    translate: 0;
    transition: .3s;
}

.custom-menu:hover .custom-menu-item:has(~ .custom-menu-item:hover):before {
    translate: 100% 0;
    transition: .2s .2s, scale 0s .4s;
}

.custom-menu:hover .custom-menu-item:hover~.custom-menu-item:before {
    translate: -100% 0;
    transition: .2s .2s, scale 0s .4s;
}

/* Style for the card-link to ensure it behaves like a block element */
.card-link {
    display: block;
    text-decoration: none;
    /* Remove default link styling */
    color: inherit;
    /* Inherit text color */
}

/* Base styles for the card */
.card {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-sizing: border-box;
}

/* Hover effect for the card */
.card-link:hover .card {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 8px solid #0d6efd;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    animation: hoverEffect 0.25s forwards;
}

/* Remove gap */
.card-body {
    padding: 1em;
    /* Adjust padding as needed */
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/* Animation effect */
@keyframes hoverEffect {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.bg-gradient-blue {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.alert {
    margin: 0;
    border-radius: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(9, 9, 121, 1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}