<%- include("partials/header.ejs") %>


    <form action="/add-product" method="post" style="display: flex; flex-direction: column;">
        <label for="name">Product Name</label>
        <input type="text" name="name" required>

        <label for="category_id"></label>
        <select name="category_id" id="" required>
            <option value="">Select Category</option>
            <% if (locals.categories) { %>
                <% categories.forEach((c) => { %>
                    <option value="<%= c.category_id %>"><%= c.name %></option>
                <% }) %>
            <% } %>
        </select>

        <label for="description">Description</label>
        <textarea name="description" id="" required></textarea>

        <label for="price">Price</label>
        <input type="number" name="price" id="" required>

        <label for="stock">Stock</label>
        <input type="number" name="stock" required>

        <button type="submit">Add product</button>
    </form>
</body>
</html>