<%- include("partials/header.ejs") %>


<h1>Profile</h1>

<form action="/logout" method="post">
    <button type="submit" class="nav-link">LOG OUT</button>
</form>

<a href="/transaction" class="nav-link">TRANSACTION</a>